#gallery_container.hide
	%ul#gallery.unstyled
		%li
			= image_tag('dancing.jpg')
			= image_tag('droppedimage.jpg')
			= image_tag('droppedimage2.jpg')
			= image_tag('droppedimage3.jpg')
			= image_tag('droppedimage4.jpg')
			= image_tag('girldancing.jpg')
			= image_tag('more_dancing.jpg')
			= image_tag('overshot.jpg')
			= image_tag('requests.jpg')
			= image_tag('scratch.jpg')
			= image_tag('speech.jpg')
			= image_tag('toast.jpg')
			= image_tag('top_img.jpg')