<!DOCTYPE html>
<html>
<head>
  <title>Soprime Entertainment</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<div class="container" id="main_container">
		<%=render :partial => "header"%>
		<%= yield %>
	</div>

</body>
</html>
